@import "../../node_modules/bootstrap/scss/bootstrap";

// Cambios de Bootstrap (Theming)
.bg-dark {
  background-color: black !important;
}

.nav-item:hover {
  background-color: grey;
}

.nav-link {
  color: white;

  &:hover {
    color: white;
  }
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  background-color: #f1f1f1;
}

.card-body {
  p {
    font-size: 17px;
  }
}

// Cambios SCSS normales
.info_banda {
  max-width: 560px;
  margin: auto;
}

h2 {
  letter-spacing: 5px;
}

p {
  font-size: 14px;
}

#stickyFooter {
  background-color: black;

  .redes {
    font-size: 25px;
  }
}

.container {
  p {
    color: white;
  }

  u {
    color: white;
  }
}